*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  padding: 1rem;
}

.search-wrapper {
  max-width: 350px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 0.3rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font-size: 0.8rem;
  color: #777;
}

.hide {
  display: none;
}
